%bigjohn{
    font-family: "BigJohn", sans-serif;
    font-weight: normal;
}
%os-regular{
    font-family: "OpenSans-Regular", sans-serif ;
    font-weight: normal;
}
%os-bold{
    font-family: "OpenSans-Bold", sans-serif;
    font-weight: 700;
}